<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4><%= @url.real_url %></h4>
        <h2>Awesome Url<h2>
        <div class="input-group">
          <% if Rails.env.development? %>
            <input type="text" id = "awesome_url_field" class="form-control" value="http://localhost:3000/<%= params[:awesome_url] %>">
          <% else %>
            <input type="text" id = "awesome_url_field" class="form-control" value="http://localhost/<%= params[:awesome_url] %>">
          <% end %>
          <span class="input-group-btn">
            <button id = "copy_button" class="btn btn-default" type="button">Copy Url</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script>
  $("#copy_button").click(function(){
    $("#awesome_url_field").select();
    document.execCommand('copy');
    $("#copy_button").text("Copied")
    setTimeout(myFunction, 3000);
  })

  function myFunction() {
    $("#copy_button").text("Copy Url")
  }
</script> -->
